$color-link: #ffffff;
$color-text: #000000;
$button-color: #d02552;
$button-text: #ffffff;
$bg-light-blue: #b2cecf;
$bg-light-green: #50d07d;
$bg-yellow: yellow;
$bg-red: red;
$bg-green: green;
$bg-blue: blue;
$bg-active-link: teal;
$content-width: 1020px;